
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164.55rem;
}.vector-4-qjr {
  position: relative;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;

  .property-1default-9Ve {
    width: 100%;
    height: 48.3rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
  }
  .property-1variant2-H64 {
    width: 100%;
    height: 48.3rem;
    flex-shrink: 0;
  }
}
